#!/usr/bin/make -f

export DH_VERBOSE=1
export DH_OPTIONS

%:
	dh --sourcedirectory=src $@


override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr/ --headers=/usr/src/linux-headers-2.6.35-7-generic/include --nojava --nopython

override_dh_auto_build:
	dh_auto_build
	cd doc/ && $(MAKE)

override_dh_install:
	dh_install
	cd debian/carmen/usr/bin && for i in `ls`; do mv $$i carmen_$$i; done;
